{{!-- These are the names listed on the "Project2Tables.png" on slack--}}
<tr>
    <td>
        {{Restaurant_id}}
    </td>
    <td>
        {{Department_name}}
    </td>
    <td>
        {{Expense_name}}
    </td>
    <td>
        {{Expense_cost}}
    </td>
    <td>
        {{Date_added}}
    </td>
    <td>
        <button class="editEntry" id={{id}}>Edit</button>
    </td>
</tr>